<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar"
                />
            <h1>My App</h1>
            <form role="form" #loginForm="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="email" class="form-control input-underline input-lg" id="email" name="email"
                            placeholder="Email" email  #email="ngModel"  ngModel required>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control
                            input-underline input-lg" id="password"
                            placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn"
                    (click)="onLoggedin()"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
            <hr>
            <div *ngIf="!email.valid && email.touched" class="alert alert-danger">
                <strong>Warning!</strong> {{errorMsg}}
            </div>
        </div>
    </div>
</div>
